<p id="notice"><%= notice %></p>

<p>
  <strong>Flat:</strong>
  <%= @conversation.flat_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @conversation.status %>
</p>

<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
