<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Sex</th>
      <th>Age</th>
      <th>Animals</th>
      <th>Smoke</th>
      <th>Alcohol</th>
      <th>Children</th>
      <th>Lgbtq</th>
      <th>Job</th>
      <th>Persnonal info</th>
      <th>Vk</th>
      <th>Facebook</th>
      <th>Instagram</th>
      <th>Avatar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.status %></td>
        <td><%= user.name %></td>
        <td><%= user.surname %></td>
        <td><%= user.sex %></td>
        <td><%= user.age %></td>
        <td><%= user.animals %></td>
        <td><%= user.smoke %></td>
        <td><%= user.alcohol %></td>
        <td><%= user.children %></td>
        <td><%= user.lgbtq %></td>
        <td><%= user.job %></td>
        <td><%= user.persnonal_info %></td>
        <td><%= user.vk %></td>
        <td><%= user.facebook %></td>
        <td><%= user.instagram %></td>
        <td><%= user.avatar %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
