<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @user.status %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @user.sex %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Animals:</strong>
  <%= @user.animals %>
</p>

<p>
  <strong>Smoke:</strong>
  <%= @user.smoke %>
</p>

<p>
  <strong>Alcohol:</strong>
  <%= @user.alcohol %>
</p>

<p>
  <strong>Children:</strong>
  <%= @user.children %>
</p>

<p>
  <strong>Lgbtq:</strong>
  <%= @user.lgbtq %>
</p>

<p>
  <strong>Job:</strong>
  <%= @user.job %>
</p>

<p>
  <strong>Persnonal info:</strong>
  <%= @user.persnonal_info %>
</p>

<p>
  <strong>Vk:</strong>
  <%= @user.vk %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @user.facebook %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @user.instagram %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag(@user.avatar.to_s) %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
